/*Pues es la base de la pagina y donde esta el root con colores para reutilizar*/
:root {
    --color-primario: #eb4e87; 
    --color-texto: #333333;
    --color-texto-secundario: gray;
    --color-borde: #eaeaea; 
    --color-fondo-input: #f4f5f7;
    --fuente-principal: "Quicksand", sans-serif;
    --fuente-titulos: "Alan Sans", sans-serif;
} /*para agarrar los colores y reutilizarse*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Quicksand", sans-serif; /*La fuente no la encontre, de momento puse esa*/
    line-height: 1.6;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}