/* Body */

position: relative;
width: 1280px;
height: 1024px;

background: #F8F6F7;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: absolute;
height: 1024px;
min-height: 1024px;
left: 0px;
right: 0px;
top: 0px;



/* Container */

position: absolute;
height: 1024px;
left: 0px;
right: 0px;
top: 0px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Header - Top Navigation */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 24px;

position: absolute;
height: 73px;
left: 0px;
right: 0px;
top: 0px;

background: #FFFFFF;
border-bottom: 1px solid rgba(230, 76, 153, 0.1);


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 207.69px;
height: 32px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 32px;
height: 32px;

background: rgba(230, 76, 153, 0.1);
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20.98px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20.98px;
height: 16px;

background: #E64C99;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

width: 159.69px;
height: 22.5px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* SoftFriends Admin */

position: absolute;
width: 159.69px;
height: 23px;
left: 0px;
top: -1px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* idéntico a la altura del cuadro o 125% */
display: flex;
align-items: center;
letter-spacing: -0.27px;

color: #0F172A;



/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 16px;

width: 1024.31px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 1;


/* Label */

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 266.02px;
min-width: 160px;
max-width: 448px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 266.02px;
height: 40px;

background: #F1F5F9;
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 16px;

width: 34px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px -2.13163e-14px;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

width: 232.02px;
height: 40px;

border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 62.7px 0px 0px;

position: absolute;
width: 202px;
left: 8px;
top: 9px;
bottom: 10px;



/* Text */

width: 139.3px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 88px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #F1F5F9;
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 16px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 20px;

background: #0F172A;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #F1F5F9;
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 20.1px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20.1px;
height: 20px;

background: #0F172A;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Image+Overlay+Border */

box-sizing: border-box;

width: 40px;
height: 40px;

background: rgba(230, 76, 153, 0.2);
border: 2px solid #E64C99;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 947px;
left: 0px;
right: 0px;
top: 73px;



/* Aside - Sidebar Navigation */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 16px;
gap: 532px;

width: 256px;
height: 947px;

background: #FFFFFF;
border-right: 1px solid rgba(230, 76, 153, 0.1);

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 223px;
height: 200px;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 223px;
height: 44px;

border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #475569;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 74.44px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Opciones */

width: 74.44px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;
isolation: isolate;

width: 223px;
height: 44px;

background: #E64C99;
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Overlay+Shadow */

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(230, 76, 153, 0.2), 0px 4px 6px -4px rgba(230, 76, 153, 0.2);
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 20px;
height: 20px;

background: #FFFFFF;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 91px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Inventario */

width: 91px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 223px;
height: 44px;

border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 19.98px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 19.98px;
height: 20px;

background: #475569;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 83px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Pedidos */

width: 83px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 12px;

width: 223px;
height: 44px;

border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #475569;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 95px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Reseñas */

width: 95px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Main Content Area */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 32px;

width: 1024px;
height: 947px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 1;


/* Header Actions */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 416.83px;

width: 944px;
height: 64px;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 326.83px;
height: 64px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 326.83px;
height: 36px;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Gestión de Inventario */

width: 326.83px;
height: 36px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 36px;
/* idéntico a la altura del cuadro o 120% */
display: flex;
align-items: center;
letter-spacing: -0.75px;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 326.83px;
height: 24px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 24px;
gap: 7.99px;
isolation: isolate;

width: 211.99px;
height: 48px;

background: #E64C99;
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Button:shadow */

position: absolute;
left: 0px;
right: -0.35px;
top: 0px;
bottom: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(230, 76, 153, 0.3), 0px 4px 6px -4px rgba(230, 76, 153, 0.3);
border-radius: 24px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 14px;
height: 14px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 14px;
height: 14px;

background: #FFFFFF;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Agregar Producto */

width: 142px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* idéntico a la altura del cuadro o 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Filters & Tabs */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 944px;
height: 471px;

background: #FFFFFF;
border: 1px solid rgba(230, 76, 153, 0.1);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* HorizontalBorder */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 942px;
height: 55px;

border-bottom: 1px solid rgba(230, 76, 153, 0.1);

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px 24px;

width: 132.53px;
height: 54px;

border-bottom: 2px solid #E64C99;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Todo */

width: 84.53px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #E64C99;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 17px 24px;

width: 118.28px;
height: 54px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Bajo */

width: 70.28px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 17px 24px;

width: 122.97px;
height: 54px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Categorias */

width: 74.97px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Inventory Table → Table */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 942px;
height: 343px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Header */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 942px;
height: 52px;

background: #F8FAFC;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Row */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 942px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 192.09px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 55.45px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 117.22px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 28.63px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 129.59px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 64.66px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 144.22px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 78.89px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 107.53px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 34.92px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 144.36px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 5;
flex-grow: 0;


/* Text */

width: 44.08px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 24px;

width: 106.98px;
height: 52px;


/* Dentro del diseño automático */
flex: none;
order: 6;
flex-grow: 0;


/* Text */

width: 52.14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #475569;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Body */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 942px;
height: 291px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row - Item 1 */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 942px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 144.09px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #FCE7F3;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* AB6AXuBUPo2r8Lbo-vbhoRk03MGQOXo6Iy9UwAm8_WWAvABxa4iv0Oo_4ZXM_MgFDbWVf7ASjV5H_LEFBrupK4YzcJRfDIKtyUTBBHkuO4eNWME0gojVkT-cxsMr7HXxOCTEFuvR2dqPTA4VgT3rYGjOf_b7JbFEcbdFZ51MKgwaPaOAvCuDrPX7xHw-KOB1kVlC3Ths2hb834MXyzF8UMHDjp2ZCc5BelHCQRAHLQLbU0LlRrPVa0nhp0kZsYuQGkaQYtF0WvKu4WLDqj_C */

width: 40px;
height: 40px;

background: url(.jpg);

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 80.58px;
height: 21px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 80.58px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26px 24px 26.5px 48px;

width: 141.22px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 69.05px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26px 24px 26.5px;

width: 129.59px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 81.41px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23px 24px 23.5px;

width: 144.22px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 96px;
height: 26px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 96px;
height: 6px;

background: #F1F5F9;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 15.01%;
top: 0px;
bottom: 0px;

background: #10B981;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 96px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 142 units */

width: 96px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #334155;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 25.5px 24px 26px;

width: 107.53px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 55.53px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23px 24px 24.5px;

width: 144.36px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 5;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3.5px 10px;

width: 69.31px;
height: 25px;

background: #ECFDF5;
border: 1px solid #D1FAE5;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 47.31px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #059669;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 22px 24px 26.5px;
gap: 10.73px;

width: 106.98px;
height: 66.5px;


/* Dentro del diseño automático */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 4px;
height: 16px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Row - Item 2 (Low Stock) */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 942px;
height: 74px;

background: rgba(255, 251, 235, 0.3);
border-top: 1px solid rgba(230, 76, 153, 0.05);

/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 144.09px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #DBEAFE;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* AB6AXuB3CqTBRjXr61fEpiWQUBdXvVpoFS-zRXXAxbtU98vbODTOCa3Es8yfGcOGMjmBZcFNu7AhmS36b1G-igD3b98AMKPjdms7xHYMwfNkgcs7CHvm2HhhSr_umVTP985ckCHFLn8gUJqCLk9-I-gSqBvSBFZEaA-3OR6lwJ-LGIEW4AjQ6smS9j3P5XNq4FjjZ0EpuFoRS2yQEZXi25Q76dwE3BCJAR3JkpUAbU5DeI8MGOgnxGNJg_DFeFuFg30NXBurQZFATz9-enj8 */

width: 40px;
height: 40px;

background: url(.jpg);

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 91.8px;
height: 21px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 91.8px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26.5px 24px 26.5px 48px;

width: 141.22px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 61.19px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26.5px 24px;

width: 129.59px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 71.91px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23.5px 24px;

width: 144.22px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 96px;
height: 26px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 96px;
height: 6px;

background: #F1F5F9;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 88%;
top: 0px;
bottom: 0px;

background: #F59E0B;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 96px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 5 units */

width: 96px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #D97706;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26px 24px;

width: 107.53px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 54.14px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23.5px 24px 24.5px;

width: 144.36px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 5;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3.5px 10px;

width: 83.67px;
height: 25px;

background: #FFFBEB;
border: 1px solid #FEF3C7;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 61.67px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #D97706;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 22.5px 24px 26.5px;
gap: 10.73px;

width: 106.98px;
height: 67px;


/* Dentro del diseño automático */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 4px;
height: 16px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Row - Item 3 */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 942px;
height: 74px;

border-top: 1px solid rgba(230, 76, 153, 0.05);

/* Dentro del diseño automático */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 144.09px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #DCFCE7;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* AB6AXuBo1BXHs3lllx_YsQSrzlWE-WSiL-RlpoBR34ueLn0jalmx94KHOLlMDiIY3KlQTCSj8T5XQn89bw9gkQp_XePko8w96FgzZH1Wx1NnO6B8N8_hgrec2qQ7kgQdyrBgVvdMGB1BCnjdeWj496wcHZCMScCzJsvx_SzeO_dZUQOYnDKNjpvyM_uD5q0m08fGwD0yO1rFLlDAc-oiK_J3xJqpI5i6cRe-9YkOp5be0C-74MznXGKLWU4AfVw2BzN6vZ9SszswlnO_1UZH */

width: 40px;
height: 40px;

background: url(.jpg);

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 77.59px;
height: 21px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 77.59px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26.5px 24px 26.5px 48px;

width: 141.22px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 58.75px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26.5px 24px;

width: 129.59px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 51.98px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23.5px 24px;

width: 144.22px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 96px;
height: 26px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 96px;
height: 6px;

background: #F1F5F9;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 55.01%;
top: 0px;
bottom: 0px;

background: #10B981;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 96px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 48 units */

width: 96px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #334155;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26px 24px;

width: 107.53px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 58.39px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23.5px 24px 24.5px;

width: 144.36px;
height: 73px;


/* Dentro del diseño automático */
flex: none;
order: 5;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3.5px 10px;

width: 69.31px;
height: 25px;

background: #ECFDF5;
border: 1px solid #D1FAE5;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 47.31px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #059669;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 22.5px 24px 26.5px;
gap: 10.73px;

width: 106.98px;
height: 67px;


/* Dentro del diseño automático */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 4px;
height: 16px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Row - Item 4 (Out of Stock) */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 24px;

width: 942px;
height: 73.5px;

background: rgba(255, 241, 242, 0.3);
border-top: 1px solid rgba(230, 76, 153, 0.05);

/* Dentro del diseño automático */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 144.09px;
height: 40px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 40px;
height: 40px;

background: #F3E8FF;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* AB6AXuDVEJHS_ZQntsk9WgAUFifC8t3iqe6FJtKtnqgGJsUrLV93gjn3KaZkeaS5yR3kzyObTHK-SLlh7Jbd2v9w48fA0t7Ti3HUR6siZdHw5cFLcgIrGy1U7x6bDhHwp4RQK_jSDfKp0zCbNQ_WBN9-cKQ5Xe4WEHvd134EvsieNVL_1Vl9bA-IAterxxjWqVddTmGRbER93mB7V0FajxAjn1ANdDE9sM9RMzahBsEof4n1b7ccDoS6tfGl8B_Rx-NibJX2QRQbXyydYdup */

width: 40px;
height: 40px;

background: url(.jpg);

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 78.11px;
height: 21px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 78.11px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26.5px 24px 26px 48px;

width: 141.22px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 55.27px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26.5px 24px 26px;

width: 129.59px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 55.34px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23.5px 24px 23px;

width: 144.22px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 96px;
height: 26px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

width: 96px;
height: 6px;

background: #F1F5F9;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 96px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 0 units */

width: 96px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #E11D48;


/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 26px 24px 25.5px;

width: 107.53px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 59.38px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
/* idéntico a la altura del cuadro */
display: flex;
align-items: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 23.5px 24px 24px;

width: 144.36px;
height: 72.5px;


/* Dentro del diseño automático */
flex: none;
order: 5;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 3.5px 10px;

width: 96.14px;
height: 25px;

background: #FFF1F2;
border: 1px solid #FFE4E6;
border-radius: 9999px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 74.14px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
/* idéntico a la altura del cuadro o 133% */
display: flex;
align-items: center;

color: #E11D48;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 22.5px 24px 26px;
gap: 10.73px;

width: 106.98px;
height: 66.5px;


/* Dentro del diseño automático */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 4px;
height: 16px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 4px;
height: 16px;

background: #94A3B8;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Pagination */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 24px;
gap: 392.71px;

width: 942px;
height: 71px;

background: #F8FAFC;
border-top: 1px solid rgba(230, 76, 153, 0.1);

/* Dentro del diseño automático */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 187.88px;
height: 20px;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 187.88px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;

color: #64748B;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Diseño automático */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 313.41px;
height: 38px;


/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 91.61px;
height: 38px;

border: 1px solid #E2E8F0;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 57.61px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 39.36px;
height: 38px;

background: #FFFFFF;
border: 1px solid #E2E8F0;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 5.36px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 42.39px;
height: 38px;

border: 1px solid #E2E8F0;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 8.39px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 42.55px;
height: 38px;

border: 1px solid #E2E8F0;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 8.55px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 16px;

width: 65.5px;
height: 38px;

border: 1px solid #E2E8F0;
border-radius: 16px;

/* Dentro del diseño automático */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 31.5px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* idéntico a la altura del cuadro o 143% */
display: flex;
align-items: center;
text-align: center;

color: #0F172A;


/* Dentro del diseño automático */
flex: none;
order: 0;
flex-grow: 0;
